@import './index.scss';

@each $-name in $--list-name {
  @each $-position in $--list-position {
    @each $-point in map-keys($--list-break-points) {
      .#{$-name}-#{$-position}--#{$-point} {
        #{$-name}-#{$-position}: map-get($--list-break-points, $-point);
      }
    }
  }
}

@font-face {
  font-family: $--font-family-regular;
  src: url('/assets/scss/fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: $--font-family-italic;
  src: url('/assets/scss/fonts/Nunito-Italic.ttf');
}
@font-face {
  font-family: $--font-family-medium;
  src: url('/assets/scss/fonts/Nunito-Bold.ttf');
}
@font-face {
  font-family: $--font-game;
  src: url('/assets/scss/fonts/Righteous-Regular.ttf');
}

a {
  color: $--color-link;
  text-decoration: none;
  &:focus,
  &:hover,
  &:active {
    outline: none;
    text-decoration: none;
  }
}

.icon{
  display: inline-block;
  width: $--icon-width;
  height: $--icon-width;
  background: {
    repeat: no-repeat;
    position: center;
    size: contain;
  }
  @each $icon-name in $--list-icon {
    &__#{$icon-name}{
      background-image: url('/assets/img/#{$icon-name}.svg');
    }
  }
  &__lock {
    background-image: url('/assets/img/disabled.svg');
  }
  &--xs {
    width: 16px;
    height: 16px;
  }
  &--xl {
    width: $--icon-width--large;
    height: $--icon-width--large;
  }
}

button {
  border-color: transparent;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: transparent;
    outline: none;
  }
}
body, html{
  font-family: $--font-family-regular;
  height: 100%;
}

body {
  padding: 0!important;
  margin: 0;
  overflow-x: hidden!important;
  overflow-y: scroll !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-container {
  margin: 70px auto 0;
  padding: 30px;
  width: 1170px;
}

.el-date-table td.today span{
  border: 1px solid $--color-primary;
  line-height: 22px;
}